# Google Sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your-google-sheet-id
SHEET_NAME=Reporting

# App login
SCHAR_PIN=1234

# Mail / Contact
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SCHARLEITUNG_EMAIL=scharleitung@example.com
CONTACT_EMAIL=info@example.com
CONTACT_PHONE=+41 79 123 45 67
