# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production build output
/build
/dist

# Vite / local cache
.vite/
.cache/

# VS Code local settings
.vscode/

# Misc
.DS_Store
*.pem
*.log

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env
.env.*
!.env.example
!.env.sample

# TypeScript build info
*.tsbuildinfo

# Local Netlify folder
.netlify/